@media only screen and (max-width: 600px) {
  :root {
    /* Do not adjust without git push */
    --primary-bg-color: rgba(14, 16, 15);
    --secondary-bg-color: #595858;
    --text-color: #f0f8ff;
    --accent-color: crimson;
    --overlay-color: rgba(0, 0, 0, 0.886);
  }

  #navbar {
    display: flex;
    /* background-color: #ffffff41; */
  }

  #tagline {
    text-align: center;
    color: aliceblue;
    margin-top: -100px;
    width: 70%;
    height: 40vh;
    margin-left: 70px;
  }

  #tagline h2 {
    font-family: Encode Sans SC, sans-serif;
    font-size: 3em;
    text-align: left;
  }

  #nav-list {
    top: 65%;
    left: 15%;
    width: 100%;
  }

  #nav-list ul li {
    margin-bottom: 30px;
    /* transition: color 0.3s ease, transform 0.3s ease; */
  }

  #nav-list ul li a {
    /* display: inline-block;
    transition: color 0.3s ease, transform 0.3s ease; */
    /* text-decoration: none;
    color: #f0f8ff; */
  }

  #nav-list ul li:hover,
  #connect-link a:hover {
    /* Reset or remove hover effect styles */
    /* For example, you can set the same styles as normal state */
    /* Or set styles to 'none' or 'initial' */
    background-color: none;
    color: initial;
    /* Add more reset styles if necessary */
  }

  #page2 {
    overflow: hidden;
    position: relative;
    height: 90vh;
  }

  #page2-aboutus {
    width: 100%;
  }

  #page2-aboutus h1 {
    margin-left: 10px;
    font-size: 2em;
  }

  #page2-aboutus hr {
    margin-left: 10px;
    width: 90%;
    height: 2px;
  }

  #page2-aboutus p {
    margin-left: 10px;
    font-size: small;
    width: 90%;
    margin-top: 8px;
  }

  #work {
    top: 42%;
    margin-left: 10px;
    width: 80%;
    padding: 0 8px;
  }

  #work h1 {
    margin-left: 10px;
    font-size: 2.3em;
  }

  #work ul {
    list-style: none;
    margin-left: 10px;
    font-size: large;
  }

  #work ul li {
    font-size: small;
    margin-top: 20px;
  }

  #btn-page2 {
    border: 2px solid crimson;
    position: absolute;
    top: 75%;
    left: 55%;
    padding: 3px 14px;
    border-radius: 15px;
    font-size: small;
    border-radius: 7px;
  }

  #btn-page2 span {
    font-size: small;
  }

  #page3-title h1 {
    font-size: 70px;
  }

  #page3 {
    height: 138vh;
  }

  #page3-box {
    background-color: rgb(203, 209, 206);
    width: 90%;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 4px 8px #09101c;
    margin-top: -50px;
    margin-left: 0;
    display: block;
  }

  #discord-box {
    width: 100%;
    height: 50vh;
    margin-left: 0;
    margin-top: 25px;
  }

  #whatsapp-box {
    width: 100%;
    height: 45vh;
    margin-top: 25px;
  }

  #discord-logo {
    height: 58px;
    padding: 8px 12px;
    margin-left: 40px;
    margin-top: 30px;
  }

  #discord-box h4 {
    color: var(--primary-bg-color);
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    margin-left: 105px;
  }

  #discord-qr {
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
  }

  #discord-box a {
    display: inline-block;
    color: var(--primary-bg-color);
    font-family: Open Sans, sans-serif;
    font-size: 1em;
    margin-top: 15px;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    margin-left: 50px;
    text-decoration: none;
  }

  #whatsapp-logo {
    height: 58px;
    padding: 8px 12px;
    margin-left: 40px;
    /* margin-top: 30px; */
  }

  #whatsapp-box h4 {
    color: var(--primary-bg-color);
    font-family: Open Sans, sans-serif;
    font-size: 16px;
    margin-left: 95px;
    white-space: nowrap;
    overflow: hidden;
  }

  #whatsapp-qr {
    height: 200px;
    margin-left: 47px;
    margin-top: 50px;
  }

  #whatsapp-box a {
    display: inline-block;
    color: var(--primary-bg-color);
    font-family: Open Sans, sans-serif;
    font-size: 1em;
    margin-top: 15px;
    transition: color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
    margin-left: 50px;
    text-decoration: none;
  }

  #phone-join {
    width: 20%;
    height: 10vh;
    position: relative;
    top: 80%;
    left: 10%;
    font-family: Open Sans, sans-serif;
    font-size: 1em;
    white-space: nowrap;
  }

  #phone-join i {
    padding-right: 4px;
    color: #dc143c;
    font-size: x-large;
  }

  #phone-join p {
    text-decoration: none;
    color: var(--primary-bg-color);
  }

  #page4 {
    height: 80vh;
    width: 100%;
  }

  #page4 h1 span {
    font-size: 1.3em;
    line-height: 130px;
  }

  #page4 h1 {
    font-size: 3.7em;
    margin-top: -280px;
    margin-left: -90px;
    margin-bottom: 0;
    line-height: 50px;
  }

  #registration {
    position: absolute;
    left: 8%;
    margin-top: 340px;
    width: 70%;
  }

  #registration-text p {
    font-size: larger;
  }

  #page5 {
    padding: 0 20px;
    height: 300vh;
  }

  #page5 video {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
  }

  #page5-title h1 {
    font-family: Encode Sans Sc, sans-sarif;
    margin-bottom: 34px;
    font-size: xx-large;
  }

  #row {
    width: 100%;
    height: auto;

    border-radius: 10px;
    display: block;
    gap: 150px;
    margin-bottom: 0;

    z-index: 1;
  }

  #card {
    width: 100%;
    height: 150px;
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.552);
  }

  #card-img {
    width: 50%;
    height: 150px;
    /* border: 1px solid red; */
    border-radius: 10px;
    /* padding: 19px 10px; */
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #card-img img {
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.472);
    height: 70%;
    border-radius: 50%;
  }

  #card-details {
    width: 100%;
    height: auto;

    border-radius: 10px;
    padding: 19px 10px;
    line-height: 20px;
    font-family: Open Sans, sans-serif;
    color: aliceblue;
  }

  #card-details h2 {
    font-family: Encode Sans Sc, sans-sarif;
    font-size: large;
  }

  #card-details h3 {
    font-size: small;
    color: #ff7700;
    font-weight: lighter;
    font-style: italic;
  }

  #p-div {
    margin-top: 40px;
  }

  #p-div p {
    font-size: small;
  }

  #title {
    margin-left: 0;
  }

  #title h1 {
    font-size: larger;
  }

  #lower-div {
    height: 70vh;
  }

  #lower-left {
    width: 70%;
    height: auto;
  }

  #lower-right {
    width: 50%;
  }

  #ourVison-text {
    margin-left: 0;
  }

  #ourVison-text p {
    font-size: small;
  }

  #footer-img {
    margin-left: 0;
    margin-top: 8px;
  }

  #footer-img img {
    height: 150px;
  }

  #connect-text {
    margin-left: 12px;
    width: 100%;
  }

  #connect-text h1 {
    font-size: 2em;
  }

  #connect-link {
    margin-left: 12px;
  }

  #connect-link a:hover {
    /* color: crimson;
  transform: scale(1.1); */
  }

  #srm-mark {
    position: relative;
    top: 91%;
  }

  #srm-mark img {
    height: 25px;
    margin-top: 40px;
  }

  #copyright {
    position: relative;
    top: 91%;
    left: 3%;
    height: 50px;
  }

  #copyright h2 {
    font-size: 0.5em;
    color: aliceblue;
    font-weight: 300;
    font-family: Open Sans, sans-serif;
  }
}

/* Larger screen (full HD to 4K) */

@media screen and (min-width: 1920px) {
  :root {
    /* Do not adjust without git push */
    --primary-bg-color: #0a1424;
    --secondary-bg-color: #4a4949;
    --text-color: #e6f2ff;
    --accent-color: #dc143c;
    --overlay-color: rgba(0, 0, 0, 0.8);
  }

  body {
    font-size: 20px;
    line-height: 1.6;
  }

  #navbar img {
    height: 300px;
  }

  #tagline {
    width: 950px;
  }

  #nav-list ul {
    font-size: x-large;
    line-height: 60px;
  }

  #nav-list {
    top: 30%;
  }

  #page3 {
    width: 100%;
    height: 100vh;
    background-color: var(--primary-bg-color);
  }

  #work {
    height: 450px;
  }

  #btn-page2 {
    top: 85%;
    left: 75%;
    padding: 6px 45px;
  }

  #page3-title h1 {
    margin-bottom: 20px;
  }

  #page3-box {
    width: 85%;
    height: 600px;
    margin-top: 100px;
  }

  #discord-box {
    width: 30%;
    height: 60vh;
    margin-left: 98px;
    margin-top: 25px;
  }

  #whatsapp-box {
    width: 30%;
    height: 60vh;
    margin-top: 25px;
  }

  #discord-logo {
    height: 48px;
  }

  #discord-box h4 {
    margin-top: 0;
  }

  #discord-qr {
    height: 260px;
    margin-top: 75px;
    display: block;
  }

  #discord-box a {
    font-size: 1.3em;
  }

  #whatsapp-logo {
    height: 48px;
  }

  #whatsapp-box h4 {
    font-size: 1em;
    margin-top: 0;
  }

  #whatsapp-qr {
    height: 260px;
  }

  #whatsapp-box a {
    font-size: 1.3em;
  }

  #event-text {
    margin-top: -100px;
  }

  #page4 {
    height: 100vh;
  }

  #event-text h1 {
    font-size: 5.2em;
  }

  #registration {
    position: absolute;
    margin-top: 670px;
    left: 60%;
    width: 700px;
  }

  #registration-text p {
    color: #f0f8ff;
    font-weight: 600;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.3em;
  }

  #page5 {
    height: 100vh;
  }

  #tab-row1 {
    gap: 200px;
  }
  #tab-row2 {
    gap: 200px;
  }
  #tab-row3 {
    gap: 200px;
  }

  #member1 h2 {
    margin-left: -227px;
  }

  #member5 h2 {
    margin-left: -254px;
  }

  #member5 h2 {
    margin-left: -196px;
  }

  #member5 h2 {
    margin-left: -177px;
  }

  #member5 h2 {
    margin-left: -247px;
  }

  #member5 h1 {
    margin-left: -150px;
  }

  #page5-title h1 {
    margin-bottom: 74px;
  }

  #row {
    gap: 350px;
    margin-bottom: 68px;
  }

  #card {
    width: 600px;
  }

  #ourVison-text p {
    font-size: x-large;
  }

  #lower-left {
    margin-top: 50px;
  }

  #footer-logo {
    height: 300px;
  }

  #connect-text {
    margin-top: -80px;
  }

  #connect-text h1 {
    font-size: 3.8em;
  }

  #connect-link a {
    font-size: x-large;
  }

  #footer-discord {
    margin-top: 40px;
  }
}
