@media only screen and (max-width: 767px) {
  #tagline {
    text-align: center;
    color: aliceblue;
    margin-top: -150px;
    /* background-color: red; */
    width: 70%;
    height: 40vh;
    margin-left: 70px;
  }

  #tagline h2 {
    font-family: Encode Sans SC, sans-serif;
    font-size: 3em;
    text-align: left;
  }

  #nav-list {
    top: 60%;
    left: 15%;
    width: 100%;
  }

  #page2-aboutus {
    width: 100%;
    margin-top: 22px;
  }

  #page2-aboutus h1 {
    margin-left: 10px;
    font-size: 2em;
  }

  #page2-aboutus hr {
    margin-left: 10px;
    width: 90%;
  }

  #page2-aboutus p {
    margin-left: 10px;
    font-size: small;
    width: 90%;
    margin-top: 8px;
  }

  #work {
    top: 55%;
  }

  #page2-video {
    object-fit: cover;
    position: absolute;
    height: 40%;
    width: 100%;
    transform: scaleX(-1);
  }

  #work h1 {
    margin-left: 10px;
    font-size: 2.5em;
  }

  #work ul {
    margin-left: 10px;
    font-size: large;
  }
}

@media only screen and (min-width: 768px) {
}
