@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
}

#main {
  position: relative;
  overflow: hidden;
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.5);
}

#navbar {
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 15vh;
  justify-content: center;
  align-items: center;
}

#navbar img {
  height: 200px;
}

/* #navbar p {
  color: white;
  letter-spacing: 4px;
} */

/* #tageline {
  position: absolute;
  z-index: 1;
  color: white;
} */

#tagline {
  position: absolute;
  top: 57%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: aliceblue;
  z-index: 2;
  width: auto;
  /* background-color: red; */
  width: 650px;
}

#tagline span {
  color: crimson;
}

#tagline h2 {
  font-family: Encode Sans SC, sans-serif;
  font-size: 5em;
  text-align: left;
}

#nav-list {
  position: absolute;
  z-index: 1;
  color: aliceblue;
  top: 39%;
  left: 72%;
  width: 20%;
  display: flex;
  height: 30vh;
}

#nav-list ul {
  list-style: none;
  padding: 0;
  font-size: large;
  font-weight: 500;
  font-family: Encode Sans SC, sans-serif;
}

#nav-list ul li {
  margin-bottom: 30px;
  transition: color 0.3s ease, transform 0.3s ease;
}

#nav-list ul li:hover {
  color: crimson;
  transform: scale(1.1);
}

#nav-list ul li a {
  text-decoration: none;
}

#page2 {
  width: 100%;
  height: 150vh;
  /* background: linear-gradient(to bottom, rgb(5, 18, 47), rgb(10, 10, 10)); */
  background-color: #050f1d;
}

#page2-aboutus {
  /* background-color: brown; */
  position: absolute;
  margin-top: 60px;
  width: 70%;
}

/* #page2-aboutus h2 {
  font-family: Encode Sans SC, sans-serif;
  font-size: 4em;
  text-align: left;
  color: aliceblue;
  margin: 0 98px;
  font-family: Encode Sans SC, sans-serif;
} */

#page2-aboutus h1 {
  color: aliceblue;
  font-size: 5em;
  font-weight: bold;
  font-family: Encode Sans SC, sans-serif;
  margin-left: 98px;
}

#page2-aboutus p {
  font-family: Open Sans, sans-serif;
  font-size: 1.2em;
  text-align: justify;
  color: aliceblue;
  margin-left: 98px;
  margin-top: 14px;
}

#page2-aboutus hr {
  border: none;
  margin-left: 98px;
  height: 8px;
  background-color: crimson;
}

#work {
  width: 100%;
  height: 75vh;
  position: absolute;
  top: 70%;
  background-color: #050f1d;
}

#work h1 {
  color: aliceblue;
  font-size: 5em;
  font-weight: bold;
  font-family: Encode Sans SC, sans-serif;
  margin-left: 98px;
}

#work-list {
  width: 100%;
  height: 60vh;
  background-color: #050f1d;
}

#page2-video {
  object-fit: cover;
  position: absolute;
  height: 60%;
  width: 100%;
  transform: scaleX(-1);
}

#work-list ul {
  font-family: Open Sans, sans-serif;
  font-size: 2em;
  text-align: justify;
  color: aliceblue;
  margin-left: 105px;
  margin-top: 38px;
  list-style: none;
}

#work-list ul li {
  margin-top: 24px;
}
