@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap");

:root {
  --primary-bg-color: #09101c;
  --secondary-bg-color: #595858;
  --text-color: #f0f8ff;
  --accent-color: crimson;
  --overlay-color: rgba(0, 0, 0, 0.886);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
}

#main {
  position: relative;
  overflow: hidden;
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.5);
}

#navbar {
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 15vh;
  justify-content: center;
  align-items: center;
}

#navbar img {
  height: 200px;
}

#tagline {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: aliceblue;
  z-index: 2;
  width: auto;
  /* background-color: red; */
  width: 650px;
}

#tagline span {
  color: crimson;
}

#tagline h2 {
  font-family: Encode Sans SC, sans-serif;
  font-size: 5em;
  text-align: left;
}

#nav-list {
  position: absolute;
  z-index: 1;
  color: aliceblue;
  top: 35%;
  left: 72%;
  width: 20%;
  display: flex;
  height: 30vh;
}

/* #join-page {
  transition: color 0.3s ease, transform 0.3s ease;
}

#join-page:hover {
  color: crimson;
  transform: scale(1.1);
}

#event-page:hover {
  color: crimson;
  transform: scale(1.1);
}

#board-memebers:hover {
  color: crimson;
  transform: scale(1.1);
} */

#nav-list ul {
  list-style: none;
  padding: 0;
  font-size: large;
  font-weight: 500;
  font-family: Encode Sans SC, sans-serif;
}

#nav-list ul li {
  margin-bottom: 30px;
  transition: color 0.3s ease, transform 0.3s ease;
}

#nav-list ul li a {
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  color: #f0f8ff;
}
#nav-list ul li:hover {
  color: crimson;
  transform: scale(1.1);
}

#nav-list ul li a:hover {
  color: crimson;
  transform: scale(1.1);
}

#page2 {
  width: 100%;
  height: 110vh;
  position: relative;
}

#page2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.overlay-page2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.886);
}

#page2-aboutus {
  /* background-color: brown; */
  position: absolute;
  width: 70%;
}

#page2-aboutus h1 {
  color: #f0f8ff;
  font-size: 5em;
  font-weight: bold;
  font-family: Encode Sans SC, sans-serif;
  margin-left: 98px;
  margin-top: 12px;
}

#page2-aboutus p {
  font-family: Open Sans, sans-serif;
  font-size: 1.2em;
  text-align: justify;
  color: aliceblue;
  margin-left: 98px;
  margin-top: 14px;
}

#page2-aboutus hr {
  border: none;
  margin-left: 98px;
  height: 8px;
  background-color: crimson;
}

#work {
  width: 70%;
  height: 340px;
  position: absolute;
  top: 50%;
  border-radius: 5px;
  margin-left: 98px;
  /* background-color: rgba(0, 14, 36, 0.343); */
  background-color: #f0f8ff;
  box-shadow: 0 4px 8px #09101c64;
}

#work h1 {
  color: var(--primary-bg-color);
  font-size: 4em;
  font-weight: bold;
  font-family: Encode Sans SC, sans-serif;
  margin-left: 98px;
  padding-top: 30px;
}

#work ul {
  font-family: Open Sans, sans-serif;
  font-size: 1.3em;
  text-align: justify;
  color: var(--primary-bg-color);
  margin-left: 120px;
  /* margin-top: 24px; */
  list-style: disc;
}

#work ul li {
  margin-top: 10px;
}

#btn-page2 {
  border: 2px solid crimson;
  position: absolute;
  top: 75%;
  left: 75%;
  padding: 5px 40px;
  border-radius: 15px;
  background: transparent;
  font-family: Encode Sans Sc, sans-sarif;
  font-size: large;
  color: #dc143c;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

#btn-page2 span {
  font-size: large;
  margin-left: 5px;
}

#btn-page2:hover {
  transform: scale(1.1);
}

#page3 {
  width: 100%;
  height: 105vh;
  background-color: var(--primary-bg-color);
  /* background: linear-gradient(to bottom, #595858, #09101c); */
}

#page3-title {
  /* border-bottom: 1px solid black; */
  width: 100%;
  height: 190px;
  padding-top: 30px;
}

#page3-title h1 {
  color: #f0f8ff;
  font-family: Open Sans, sans-serif;
  font-size: 150px;
  font-weight: bolder;
  white-space: nowrap;
}

#page3-box {
  background-color: aliceblue;
  width: 80%;
  height: 460px;
  border-radius: 5px;
  box-shadow: 0 4px 5px #0000006e;
  margin-top: 50px;
  display: flex;
  margin-left: 98px;
}

#discord-box {
  width: 30%;
  height: 60vh;
  margin-left: 98px;
  margin-top: 25px;
}

#whatsapp-box {
  width: 30%;
  height: 60vh;
  margin-top: 25px;
}

#discord-logo {
  height: 48px;
}

#discord-box h4 {
  color: var(--primary-bg-color);
  font-family: Open Sans, sans-serif;
  font-size: 1em;
  margin: -35px 55px;
}

#discord-qr {
  height: 200px;
  margin-top: 75px;
  display: block;
  box-shadow: 0 4px 5px #0000006e;
}

#discord-box a {
  display: inline-block;
  color: var(--primary-bg-color);
  font-family: Open Sans, sans-serif;
  font-size: 1em;
  margin-top: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

#discord-box a:hover {
  color: crimson;
  transform: scale(1.1);
}

#whatsapp-logo {
  height: 48px;
}

#whatsapp-box h4 {
  color: var(--primary-bg-color);
  font-family: Open Sans, sans-serif;
  font-size: 1em;
  margin: -35px 55px;
}

#whatsapp-qr {
  height: 200px;
  margin-top: 75px;
  display: block;
  box-shadow: 0 4px 5px #0000006e;
}

#whatsapp-box a {
  display: inline-block;
  color: var(--primary-bg-color);
  font-family: Open Sans, sans-serif;
  font-size: 1em;
  margin-top: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

#whatsapp-box a:hover {
  color: crimson;
  transform: scale(1.1);
}

#phone-join {
  width: 20%;
  height: 8vh;
  position: relative;
  top: 80%;
  left: 10%;
  color: var(--primary-bg-color);
  font-family: Open Sans, sans-serif;
  font-size: 1em;
}

#phone-join i {
  padding-right: 5px;
  color: #dc143c;
  font-size: xx-large;
}

#page4 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

#page4-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#event-text {
  margin-left: 98px;
}

#event-text h1 span {
  background-image: linear-gradient(to right bottom, #ff0037, #ff7700);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5em;
  font-family: Encode Sans Sc, sans-sarif;
}

#event-text h1 {
  color: #f0f8ff;
  font-family: Encode Sans Sc, sans-sarif;
  font-size: 4em;
  line-height: 120px;
}

#registration {
  position: absolute;
  margin-top: 550px;
  left: 70%;
  width: 400px;
}

#registration-text p {
  color: #f0f8ff;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

#page5 {
  position: relative;
  height: 130vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 70px;
}

#page5 h1 {
  color: aliceblue;

  font-size: 4em;
  margin-top: 30px;
  font-family: Encode Sans Sc, sans-sarif;
}

#page5-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.overlay5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(4, 35, 55, 0.724);
}

#page5-title {
  z-index: 1;
}

#page5-title h1 {
  color: aliceblue;
  font-family: Encode Sans Sc, sans-sarif;
  margin-bottom: 34px;
}

#row {
  width: 100%;
  height: 200px;

  border-radius: 10px;
  display: flex;
  gap: 150px;
  margin-bottom: 48px;

  z-index: 1;
}

#card {
  width: 500px;
  height: 200px;
  /* border: 1px solid rgb(202, 202, 202); */
  border-radius: 10px;
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.552);
}

#card-img {
  width: 50%;
  height: 200px;
  /* border: 1px solid red; */
  border-radius: 10px;
  /* padding: 19px 10px; */
  display: flex;
  align-items: center;
  justify-content: center;
}

#card-img img {
  box-shadow: 0 4px 24px rgba(0, 0, 0, 0.472);
  height: 70%;
  border-radius: 50%;
}

#card-details {
  width: 100%;
  height: auto;
  /* border: 1px solid blue; */
  border-radius: 10px;
  padding: 19px 10px;
  line-height: 30px;
  font-family: Open Sans, sans-serif;
  color: aliceblue;
}

#card-details h2 {
  font-family: Encode Sans Sc, sans-sarif;
}

#card-details h3 {
  font-size: small;
  color: #ff7700;
  font-weight: lighter;
  font-style: italic;
}

#p-div {
  margin-top: 30px;
}

#page6 {
  width: 100%;
  height: 100vh;
  background-color: var(--primary-bg-color);
}

#upper-div {
  border: 1px solid black;
  /* background-color: #595858; */
  width: 100%;
  height: 35vh;
}

#title {
  margin-left: 98px;
  margin-top: 18px;
  font-size: xx-large;
  color: aliceblue;
  font-family: Encode Sans Sc, sans-sarif;
  margin-bottom: 24px;
}

#title hr {
  border: none;
  height: 1px;
  background-color: aliceblue;
  width: 95%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.951);
}

#ourVison-text {
  width: 90%;
  margin-left: 98px;
  font-size: medium;
  color: aliceblue;
  font-family: Open Sans, sans-serif;
}

#lower-div {
  /* border: 1px solid yellow; */
  width: 100%;
  height: 60vh;
  display: flex;
}

#lower-left {
  width: 50%;
  /* border-right: 1px solid blanchedalmond; */
}

#footer-img {
  /* background-color: gray; */
  height: auto;
  margin-left: 80px;
}

#footer-logo {
  height: 200px;
  /* background-color: red; */
}

#connect-text {
  /* border: 1px solid red; */
  width: 80%;
  height: 100px;
  margin-left: 98px;
  margin-top: -40px;
}

#connect-text h1 {
  font-size: 3.5em;
  color: aliceblue;
  font-weight: 300;
  font-family: Open Sans, sans-serif;
  margin-bottom: 24px;
}

#connect-text span {
  color: #ff7700;
}

#connect-link {
  display: flex;
  flex-direction: column;
  margin-left: 98px;
  width: 190px;
}

#connect-link a {
  color: aliceblue;
  text-decoration: none;
  font-size: large;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  font-family: Open Sans, sans-serif;
  display: inline-block;
}

#footer-whatsapp {
  margin-top: 15px;
}

#contact-us {
  margin-top: 15px;
}

#privacy {
  margin-top: 15px;
}

#connect-link a:hover {
  color: crimson;
  transform: scale(1.1);
}

#lower-right {
  width: 100%;
  height: 60vh;
  /* background-color: #595858; */
  /* display: flex; */
}

#srm-mark {
  position: relative;
  top: 80%;
  left: 59%;
}

#srm-mark img {
  height: 50px;
}

#copyright {
  position: relative;
  top: 80%;
  left: 60%;
  height: 50px;
}

#copyright h2 {
  font-size: 1em;
  color: aliceblue;
  font-weight: 300;
  font-family: Open Sans, sans-serif;
}
