@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:ital,wght@0,400;0,500;0,600;0,700;1,300;1,400;1,500&display=swap");

:root {
  --primary-bg-color: #09101c;
  --secondary-bg-color: #595858;
  --text-color: #f0f8ff;
  --accent-color: crimson;
  --overlay-color: rgba(0, 0, 0, 0.886);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100vh;
}

#main {
  position: relative;
  overflow: hidden;
}

#page1 {
  position: relative;
  height: 100vh;
  width: 100vw;
}

#page1 video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(1, 1, 1, 0.5);
}

#navbar {
  display: flex;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 15vh;
  justify-content: center;
  align-items: center;
}

#navbar img {
  height: 200px;
}

#tagline {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: aliceblue;
  z-index: 2;
  width: auto;
  /* background-color: red; */
  width: 650px;
}

#tagline span {
  color: crimson;
}

#tagline h2 {
  font-family: Encode Sans SC, sans-serif;
  font-size: 5em;
  text-align: left;
}

#nav-list {
  position: absolute;
  z-index: 1;
  color: aliceblue;
  top: 35%;
  left: 72%;
  width: 20%;
  display: flex;
  height: 30vh;
}

#join-page {
  transition: color 0.3s ease, transform 0.3s ease;
}

#join-page:hover {
  color: crimson;
  transform: scale(1.1);
}

#event-page:hover {
  color: crimson;
  transform: scale(1.1);
}

#board-memebers:hover {
  color: crimson;
  transform: scale(1.1);
}

#nav-list ul {
  list-style: none;
  padding: 0;
  font-size: large;
  font-weight: 500;
  font-family: Encode Sans SC, sans-serif;
}

#nav-list ul li {
  margin-bottom: 30px;
  transition: color 0.3s ease, transform 0.3s ease;
}

#nav-list ul li a {
  display: inline-block;
  transition: color 0.3s ease, transform 0.3s ease;
  text-decoration: none;
  color: #f0f8ff;
}

#nav-list ul li a:hover {
  color: crimson;
  transform: scale(1.1);
}

#page2 {
  width: 100%;
  height: 100vh;
  position: relative;
}

#page2 img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
}

.overlay-page2 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.886);
}

#page2-aboutus {
  /* background-color: brown; */
  position: absolute;
  width: 70%;
}

#page2-aboutus h1 {
  color: #f0f8ff;
  font-size: 5em;
  font-weight: bold;
  font-family: Encode Sans SC, sans-serif;
  margin-left: 98px;
  margin-top: 12px;
}

#page2-aboutus p {
  font-family: Open Sans, sans-serif;
  font-size: 1.2em;
  text-align: justify;
  color: aliceblue;
  margin-left: 98px;
  margin-top: 14px;
}

#page2-aboutus hr {
  border: none;
  margin-left: 98px;
  height: 8px;
  background-color: crimson;
}

#work {
  width: 70%;
  height: 340px;
  position: absolute;
  top: 50%;
  border-radius: 5px;
  background-color: rgba(0, 14, 36, 0.343);
  box-shadow: 0 4px 8px #09101c64;
}

#work h1 {
  color: #f0f8ff;
  font-size: 4em;
  font-weight: bold;
  font-family: Encode Sans SC, sans-serif;
  margin-left: 98px;
  padding-top: 30px;
}

#work ul {
  font-family: Open Sans, sans-serif;
  font-size: 1.3em;
  text-align: justify;
  color: aliceblue;
  margin-left: 120px;
  /* margin-top: 24px; */
  list-style: disc;
}

#work ul li {
  margin-top: 10px;
}

#btn-page2 {
  border: 2px solid crimson;
  position: absolute;
  top: 75%;
  left: 75%;
  padding: 5px 40px;
  border-radius: 15px;
  background: transparent;
  font-family: Encode Sans Sc, sans-sarif;
  font-size: large;
  color: #dc143c;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

#btn-page2 span {
  font-size: large;
  margin-left: 5px;
}

#btn-page2:hover {
  transform: scale(1.1);
}

#page3 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #595858, #09101c);
}

#page3-title {
  /* border-bottom: 1px solid black; */
  width: 100%;
  height: 190px;
  padding-top: 30px;
}

#page3-title h1 {
  color: #f0f8ff;
  font-family: Open Sans, sans-serif;
  font-size: 150px;
  font-weight: bolder;
  white-space: nowrap;
}

#page3-box {
  background-color: black;
  width: 85%;
  height: 460px;
  border-radius: 5px;
  box-shadow: 0 4px 8px #09101c;
  margin-top: 50px;
  display: flex;
}

#discord-box {
  width: 30%;
  height: 60vh;
  margin-left: 98px;
  margin-top: 25px;
}

#whatsapp-box {
  width: 30%;
  height: 60vh;
  margin-top: 25px;
}

#discord-logo {
  height: 48px;
}

#discord-box h4 {
  color: #f0f8ff;
  font-family: Open Sans, sans-serif;
  font-size: 1em;
  margin: -35px 55px;
}

#discord-qr {
  height: 200px;
  margin-top: 75px;
  display: block;
}

#discord-box a {
  display: inline-block;
  color: #f0f8ff;
  font-family: Open Sans, sans-serif;
  font-size: 1em;
  margin-top: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

#discord-box a:hover {
  color: crimson;
  transform: scale(1.1);
}

#whatsapp-logo {
  height: 48px;
}

#whatsapp-box h4 {
  color: #f0f8ff;
  font-family: Open Sans, sans-serif;
  font-size: 1em;
  margin: -35px 55px;
}

#whatsapp-qr {
  height: 200px;
  margin-top: 75px;
  display: block;
}

#whatsapp-box a {
  display: inline-block;
  color: #f0f8ff;
  font-family: Open Sans, sans-serif;
  font-size: 1em;
  margin-top: 15px;
  transition: color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
  text-decoration: none;
}

#whatsapp-box a:hover {
  color: crimson;
  transform: scale(1.1);
}

#phone-join {
  width: 20%;
  height: 8vh;
  position: relative;
  top: 80%;
  left: 10%;
  color: aliceblue;
  font-family: Open Sans, sans-serif;
  font-size: 1em;
}

#phone-join i {
  padding-right: 5px;
  color: #dc143c;
  font-size: xx-large;
}

#page4 {
  position: relative;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
}

#page4-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

#event-text {
  margin-left: 98px;
}

#event-text h1 span {
  background-image: linear-gradient(to right bottom, #ff0037, #ff7700);
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  font-size: 3.5em;
  font-family: Encode Sans Sc, sans-sarif;
}

#event-text h1 {
  color: #f0f8ff;
  font-family: Encode Sans Sc, sans-sarif;
  font-size: 5em;
  line-height: 120px;
}

#registration {
  position: absolute;
  margin-top: 550px;
  left: 70%;
  width: 400px;
}

#registration-text p {
  color: #f0f8ff;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
}

#page5 {
  background-color: #09101c;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
}

#page5-logo {
  position: fixed;
  height: 250px;
}

#page5 h1 {
  color: #fff;
  margin-top: 240px;
  font-size: 5em;
  position: relative;
  left: 36%;
  white-space: nowrap;
  /* overflow: hidden; */
  font-family: Encode Sans Sc, sans-sarif;
}

#ourVison-text {
  /* border: 1px solid white; */
  width: 100%;
  height: 170px;
  position: relative;
  top: 50%;
  right: 14%;
  display: flex;
}

#ourVison-text p {
  color: #f0f8ff;
  font-family: Open Sans, sans-serif;
  font-size: 1.2em;
  text-align: justify;
}

#page6 {
  position: relative;
  height: 130vh;
  width: 100%;
  display: flex;
}

#page6 h1 {
  color: #fff;
  margin-left: 98px;
  font-size: 4em;
  margin-top: 30px;
  font-family: Encode Sans Sc, sans-sarif;
}

#page6-video {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.overlay6 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(3, 41, 66, 0.809);
}

#memebers-cards {
  display: inline-block;

  position: absolute;
  width: 100%;
  height: 120vh;
}

#tab-row1 {
  margin-top: 65px;
  width: 100%;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#tab-row2 {
  margin-top: 40px;
  width: 100%;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#tab-row3 {
  margin-top: 40px;
  width: 100%;
  height: 200px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

#member1 {
  padding: 0 20px;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  width: 600px;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.26);
}

#member2 {
  padding: 0 20px;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  width: 600px;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.26);
}

#member3 {
  padding: 0 20px;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  width: 600px;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.26);
}

#member4 {
  padding: 0 20px;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  width: 600px;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.26);
}

#member5 {
  padding: 0 20px;
  display: flex;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  align-items: center;
  width: 600px;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.26);
}

#member6 {
  padding: 0 20px;
  display: flex;
  border: 1px solid orangered;
  box-shadow: 5px 5px 10px rgba(85, 12, 0, 0.5);
  align-items: center;
  width: 600px;
  height: 200px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.26);
}

#member1-img {
  height: 140px;
  border-radius: 20px;
}

#member1 h1 {
  color: #fff;
  margin-left: 18px;
  margin-top: -80px;
  font-size: 1.5em;
  white-space: nowrap;
  /* overflow: hidden; */
  font-family: Encode Sans Sc, sans-sarif;
}

#member1 h2 {
  color: yellow;

  margin-top: -24px;
  margin-left: -187px;
  font-size: small;
  white-space: nowrap;
  font-weight: 400;
  font-style: italic;
  font-family: Open Sans, sans-sarif;
}

#member1 h3 {
  color: #fff;
  margin-top: 50px;
  margin-left: -52px;
  font-size: medium;
  white-space: nowrap;
  font-weight: 500;
  font-family: Open Sans, sans-sarif;
}

#member1 h4 {
  color: #fff;
  margin-top: 90px;
  margin-left: -60px;
  font-size: small;
  white-space: nowrap;
  font-weight: 500;
  font-family: Open Sans, sans-sarif;
}

#member2-img {
  height: 140px;
  border-radius: 20px;
}

#member2 h1 {
  color: #fff;
  margin-left: 18px;
  margin-top: -80px;
  font-size: 1.5em;
  white-space: nowrap;
  /* overflow: hidden; */
  font-family: Encode Sans Sc, sans-sarif;
}

#member2 h2 {
  color: yellow;
  margin-top: -24px;
  margin-left: -200px;
  font-size: small;
  white-space: nowrap;
  font-weight: 400;
  font-style: italic;
  font-family: Open Sans, sans-sarif;
}

#member2 h3 {
  color: #fff;
  margin-top: 50px;
  margin-left: -134px;
  font-size: medium;
  white-space: nowrap;
  font-weight: 500;
  font-family: Open Sans, sans-sarif;
}

#member2 h4 {
  color: #fff;
  margin-top: 90px;
  margin-left: -60px;
  font-size: small;
  white-space: nowrap;
  font-weight: 500;
  font-family: Open Sans, sans-sarif;
}

#member3-img {
  height: 140px;
  border-radius: 20px;
}

#member3 h1 {
  color: #fff;
  margin-left: 18px;
  margin-top: -80px;
  font-size: 1.5em;
  white-space: nowrap;
  /* overflow: hidden; */
  font-family: Encode Sans Sc, sans-sarif;
}

#member3 h2 {
  color: yellow;
  margin-top: -24px;
  margin-left: -158px;
  font-size: small;
  white-space: nowrap;
  font-weight: 400;
  font-style: italic;
  font-family: Open Sans, sans-sarif;
}

#member3 h3 {
  color: #fff;
  margin-top: 50px;
  margin-left: -158px;
  font-size: medium;
  white-space: nowrap;
  font-weight: 500;
  font-family: Open Sans, sans-sarif;
}

#member3 h4 {
  color: #fff;
  margin-top: 90px;
  margin-left: -55px;
  font-size: small;
  white-space: nowrap;
  font-weight: 500;
  font-family: Open Sans, sans-sarif;
}

#member4-img {
  height: 140px;
  border-radius: 20px;
}

#member4 h1 {
  color: #fff;
  margin-left: 18px;
  margin-top: -80px;
  font-size: 1.5em;
  white-space: nowrap;
  /* overflow: hidden; */
  font-family: Encode Sans Sc, sans-sarif;
}

#member4 h2 {
  color: yellow;
  margin-top: -24px;
  margin-left: -147px;
  font-size: small;
  white-space: nowrap;
  font-weight: 400;
  font-style: italic;
  font-family: Open Sans, sans-sarif;
}

#member4 h3 {
  color: #fff;
  margin-top: 50px;
  margin-left: -132px;
  font-size: medium;
  white-space: nowrap;
  font-weight: 500;
  font-family: Open Sans, sans-sarif;
}

#member4 h4 {
  color: #fff;
  margin-top: 90px;
  margin-left: -55px;
  font-size: small;
  white-space: nowrap;
  font-weight: 500;
  font-family: Open Sans, sans-sarif;
}

#member5-img {
  height: 140px;
  border-radius: 20px;
}

#member5 h1 {
  color: #fff;
  margin-left: 18px;
  margin-top: -80px;
  font-size: 1.5em;
  white-space: nowrap;
  /* overflow: hidden; */
  font-family: Encode Sans Sc, sans-sarif;
}

#member5 h2 {
  color: yellow;

  margin-top: -24px;
  margin-left: -200px;
  font-size: small;
  white-space: nowrap;
  font-weight: 400;
  font-style: italic;
  font-family: Open Sans, sans-sarif;
}

#member5 h3 {
  color: #fff;
  margin-top: 50px;
  margin-left: -110px;
  font-size: medium;
  white-space: nowrap;
  font-weight: 500;
  font-family: Open Sans, sans-sarif;
}

#member5 h4 {
  color: #fff;
  margin-top: 90px;
  margin-left: -54px;
  font-size: small;
  white-space: nowrap;
  font-weight: 500;
  font-family: Open Sans, sans-sarif;
}

#member6-img {
  height: 140px;
  border-radius: 20px;
}

#member6 p {
  color: rgb(254, 106, 0);
  margin-left: 18px;
  margin-top: -140px;
  margin-bottom: 0;
  font-size: 1em;
  font-weight: 400;
  white-space: nowrap;
  /* overflow: hidden; */
  font-family: Encode Sans Sc, sans-sarif;
}

#member6 h1 {
  color: #fff;
  margin-left: -126px;
  margin-top: -80px;
  font-size: 1.5em;
  white-space: nowrap;
  /* overflow: hidden; */
  font-family: Encode Sans Sc, sans-sarif;
}

#member6 h2 {
  color: yellow;
  margin-top: -24px;
  margin-left: -242px;
  font-size: small;
  white-space: nowrap;
  font-weight: 400;
  font-style: italic;
  font-family: Open Sans, sans-sarif;
}

#member6 h3 {
  color: #fff;
  margin-top: 50px;
  margin-left: -89px;
  font-size: medium;
  white-space: nowrap;
  font-weight: 500;
  font-family: Open Sans, sans-sarif;
}

#member6 h4 {
  color: #fff;
  margin-top: 90px;
  margin-left: -147px;
  font-size: small;
  white-space: nowrap;
  font-weight: 500;
  font-family: Open Sans, sans-sarif;
}
